body{
    font-family: "Helvetica", Sans-Serif;
    padding: 0px;
    margin: 0px;
    background-color: #ddd;
}

/*********************************** NAV ***/
nav#nav-superior{
    background-color: #fff;
}
#logo-wtext{
	width:465px;
}
#logo-wtext img{
    float: left;
	display: inline-block;
}
#logo-wtext div{
	padding: 15px;
}
#div-pad{
	padding: 5px;
}

/*********************************** FORM ***/
.main-div{
    margin: 0 auto;
    margin-top: 10vw;
    width: 25%;
}
.form-space{
    background-color: #fff;
    padding: 10px;
}
.form-title{
    size: 5;
}

/*********************************** BOOTSTRAP COPIES ***/
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
